[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "deepface>=0.0.95",
    "fastapi>=0.121.2",
    "numpy>=2.2.6",
    "pydantic>=2.12.4",
    "requests>=2.32.5",
]
